div.color-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section.color {
    border: 2px solid grey;
    border-bottom-color: darken(grey, 40%);
    border-right-color: darken(grey, 40%);
    margin: 1em;
    padding: 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
  
    div.color {
      height: 80px;
      flex-basis: 100%;
    }
  
